* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --second-color: #171100;
}

html,
body {
    scroll-behavior: smooth;
    font-size: 1.6rem;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
}

/* ============ Header ============ */
.header {
    position: sticky;
    top: -28px;
    z-index: 1;
    background: #FFFCF4;
}

.header.header--fixed {
    position: sticky;
}

.header__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header__body {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}

.header__navbar {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}

.header__nav-item {
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5F5B53;
}

.header__nav-item.header__nav-item--active {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    color: #171100;
}

.header__nav-item.header__nav-item--active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 21px;
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header__nav-item:hover {
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    font-weight: 600;
    color: #171100;
}

.header__btn {
    padding: 17px 41px;
    font-size: 1.6rem;
    border-radius: 2.45rem;
    background: var(--second-color);
    display: inline-block;
    border: none;
    text-align: center;
    font-weight: 600;
    color: #FFF;
}

/* ============ Hero ============ */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Hero Image */
.hero__image-box {
    position: relative;
    width: 48%;
}

.hero__image {
    object-fit: cover;
    width: 47rem;
    height: 68.5rem;
    border-radius: 20px;
}

.hero__card {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    border-radius: 1.2rem;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    background: #FFF;
}

.hero__card-item {
    display: flex;
    align-items: center;
    padding-top: 18px;
}

.hero__card-item:first-child {
    padding-top: 0;
}

.hero__icon-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    border-radius: 50%;
}

.hero__icon-cover.hero__icon-cover--ui {
    background: #FFF9E8;
}

.hero__icon-cover.hero__icon-cover--dev {
    background: #FCEFFF;
}

.hero__icon-cover.hero__icon-cover--marketing {
    background: #EBEAFF;
}

.hero__text-box {
    margin-left: 16px;
}

.hero__text-box .hero__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
    color: #5F5B53;
}

.hero__text-box .hero__sub-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
    color: #171100;
}

/* Hero Text */
.hero__text {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero__title {
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -0.116rem;
    color: #171100;
}

.hero__description {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    color: #5F5B53;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__btn {
    width: 18rem;
    height: 6.4rem;
    border-radius: 3.2rem;
    background: #FFB900;
    padding: 23px 33px;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
}

.hero__watch-action {
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
}

.hero__watch-icon {
    margin-right: 14px;
}

.hero__watch-action span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
    color: #171100;
}

.hero__engagement-label {
    display: inline-block;
    margin-top: 48px !important;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    color: #5F5B53;
}

.hero__stats {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}

.hero__stat {
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    color: #5F5B53;
}

.hero__stat span {
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: #171100;
}

/* ============ Courses ============ */
.courses {
    margin-top: 200px;
}

.courses__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    position: relative;
}

.courses__title {
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316; /* 126.316% */
    letter-spacing: -0.076rem;
    color: #171100;
}

.courses__description {
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    color: #5F5B53;
}

.courses__pagination-icon {
    position: absolute;
    right: 0;
    top: 42px;
}

.courses__list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses__item {
    width: 370px;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    border-radius: 1.2rem;
    background: #FFF;
}

.courses__image {
    width: 100%;
    height: 278px;
    border-radius: 1.2rem 1.2rem 0 0;
    object-fit: cover;
}

.courses__content-block {
    padding: 16px 22px 36px;
}

.courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__item-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.courses__rating-block {
    display: flex;
    align-items: center;
    gap: 6px;
}

.courses__star-icon {
    width: 18px;
    height: 18px;
}

.courses__rating {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FEA31B;
}

.courses__item-description {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    color: #5F5B53;
}

.courses__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.courses__price {
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.courses__book-btn {
    padding: 18px 12px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFF;
    width: 11.8rem;
    height: 5rem;
    border-radius: 2.5rem;
    background: #171100;
    transition: 0.3s;
    display: inline-block;
    border: none;
}

.courses__book-btn:hover {
    background: #FFB900;
}

/* ============ Testimonial ============ */
.testimonial {
    margin-top: 200px;
    background: #2E2100;
}

.testimonial__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.testimonial__body {
    padding: 96px 0;
    display: flex;
}

.testimonial__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.testimonial__author-info {
    margin-top: 18px;
}

.testimonial__author-name {
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #F7F7F7;
}

.testimonial__author-title {
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
    color: #BFBCB2;
}

.testimonial__verified-icon {
    margin-top: 28px;
}

.testimonial__quote {
    position: relative;
}

.testimonial__text {
    width: 740px;
    max-width: 100%;
    padding-top: 28px;
    margin-left: 271px;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
    color: #FFF;
}

.testimonial__quote-icon {
    position: absolute;
    left: 240px;
    top: 6px;
}

/* ============ Features ============ */
.features {
    margin-top: 200px;
}

.features__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.features__body {
    display: flex;
}

.features__image-block {
    width: 49%;
    height: 438px;
    display: flex;
    gap: 30px;
}

.features__text-block {
    width: 51%;
    margin-top: 58px;
    margin-left: 130px;
}

.features__image {
    width: 27rem;
    height: 40.4rem;
    border-radius: 1.6rem;
    object-fit: cover;
}

.features__image--primary {
    margin-top: auto;
}

.features__title {
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.076rem;
    color: #171100;
}

.features__description {
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: #5F5B53;
}

.features__report {
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: #5F5B53;
}

.features__btn {
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFF;
    line-height: 1.75; /* 175% */ 
    width: 13.7rem;
    height: 5rem;
    padding: 11px 37px;
    border-radius: 2.6rem;
    margin-top: 32px;
    background: #FFB900;
}

/* ============ CTA ============ */
.cta {
    margin-top: 200px;
}

.cta__content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.cta__body {
    display: flex;
}

.cta__image {
    margin-left: auto;
    width: 47rem;
    height: 44rem;
    border-radius: 2rem;
    object-fit: cover;
}

.cta__text-block {
    margin-top: 71px;
    margin-right: 130px;
}

.cta__title {
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27; /* 126.316% */
    letter-spacing: -0.076rem;
    color: #171100;
}

.cta__description {
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: #5F5B53;
}

.cta__btn {
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
    margin-top: 32px;
    line-height: 2.8rem; /* 175% */
    width: 13.7rem;
    height: 5rem;
    padding: 11px 25px;
    border-radius: 2.6rem;
    background: #FFB900;
}